
@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville-bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Acumin';
  src: url('../fonts/Acumin-Variable-Concept.ttf') format('truetype');
  font-weight: 800;
  font-style: normal  !important;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

*,
:after,
:before,
input[type=search] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

button,a{
    outline: none;
}

body{
    padding: 0px;
    margin: 0px;
    position: relative;
}

.black-screen{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.5;
    display: none;
}

.header{
    width: 100%;
    background: #d91a1a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 4px solid #d7b321;
}

.header__container{
    width: 100%;
    max-width: 1370px;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.header__logo{
    font-family: 'Baskerville';
    color: #fff;
    font-size: 37px;
    margin: 0px;
    margin-left: 10%;
    font-weight: 900;
    letter-spacing: 1px;
}

.header__nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    margin-right: 30px;
    list-style-type: none;
}

.header__nav-link{
    font-family: 'Tahoma';
    font-weight: 400;
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    margin: 0px 10px;
    letter-spacing: 0.5px;
}

.header__burger{
    width: 38px;
    height: 28px;
    background: inherit;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-right: none;
    border-left: none;
    position: relative;
    cursor: pointer;
    display: none;
}

.header__burger:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #fff;
    margin-top: -1.5px;
}

/*form*/

.form{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 900px;
    max-height: 900px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.form__form{
    width: 100%;
    max-width: 920px;
    background: #faf7f7;
    padding: 25px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 25px;
}

.form__title{
    color: #302e2e;
    font-size: 38px;
    margin: 0px 0px 25px 0px;
    font-family: 'Baskerville';
    font-weight: 400;
    letter-spacing: 1px;
}

.form__sign{
    margin: 0px 0px 70px 0px;
    color: #302e2e;
    font-size: 22px;
    letter-spacing: 1px;
}

.form__input_style{
    background: none;
    width: 100%;
    max-width: 415px;
    padding: 0px 0px 40px 0px;
    border: none;
    border-bottom: 1px solid #969191;
    margin-bottom: 50px;
    font-size: 24px;
    letter-spacing: 1px;
    color:#969191;
    font-family: 'Tahoma';
    font-weight: 400;
    font-size: 24px;
    outline: none;
}

.form__input_style::-webkit-input-placeholder {color:#969191; font-family: 'Tahoma'; font-weight: 400; font-size: 24px; letter-spacing: 1px;}
.form__input_style::-moz-placeholder          {color:#969191; font-family: 'Tahoma'; font-weight: 400; font-size: 24px; letter-spacing: 1px;}/* Firefox 19+ */
.form__input_style:-moz-placeholder           {color:#969191; font-family: 'Tahoma'; font-weight: 400; font-size: 24px; letter-spacing: 1px;}/* Firefox 18- */
.form__input_style:-ms-input-placeholder      {color:#969191; font-family: 'Tahoma'; font-weight: 400; font-size: 24px; letter-spacing: 1px;}

.form__send{
    background: #d91a1a;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 61px;
    cursor: pointer;
    width: 100%;
    color: #fff;
    border-radius: 5px ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 95px;
    font-family: 'Acumin';
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 1px;
    font-style: normal  !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__bottom-wrapper{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0px;
    background: #e4dada;
    border-radius: 0px 0px 25px 25px;
}

.form__bottom-sign{
    margin: 0px;
    font-size: 22px;
    color: #2e2d2d;
    font-family: 'Baskerville';
    font-weight: 400;
}

.form__sign-wrapper a{
    font-size: 22px;
    color: #2e2d2d;
    font-family: 'Baskerville';
    font-weight: 400;
    margin: 0px 5px;
    text-decoration: underline;
}


.form__sign-wrapper a:visited{
    color: #2e2d2d;
}

.form__sign-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

/* footer */

.footer{
    width: 100%;
    background: #e9e5e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 295px;
}

.footer__container{
    width: 100%;
    max-width: 1370px;
    padding: 35px 7px 0px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.footer__img{
    padding-left: 8px;
    max-width: 510px;
    margin-bottom: 25px;
}

.footer__list{
    padding: 0px 0px 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    list-style-type: none;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer__item{
    border-right:  1px solid #2e2d2d;
    padding-bottom: 5px;
}

.footer__item:last-child{
    border: none;
}

.footer__link{
    text-decoration: none;
    padding: 0px 8px;
    color: #2e2d2d;
    font-size: 18px;
    font-family: 'Baskerville';
    font-weight: 400;
    letter-spacing: 0.5px;
}

.footer__copyright{
    padding: 0px 0px 0px 8px;
    color: #2e2d2d;
    width: 100%;
    font-size: 14px;
    font-family: 'Baskerville';
    font-weight: 400;
    letter-spacing: 1px;
}


@media (max-width: 1366px) {

}

@media (max-width: 1024px) {

    .header{
        position: fixed;
        top: 0px;
    }

    .header__container{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
    }

    .header__burger{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 0px;
        margin-right: 14px;
    }

    .header__nav{
        display: none;
        position: absolute;
        right: 0px;
        top: 100%;
        max-width: 350px;
        width: 100%;
        margin-top: -3px;
    }

    .header__nav-list{
        max-width: 350px;
        width: 100%;
        padding: 0px;
        background: #fff;
        margin: 3px 0px 0px 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .header__nav-link{
        color: #2e2d2d;
        padding: 25px 0px 25px 25px;
        margin: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header__logo{
        margin-left: 0px;
    }

    .header__nav-item{
        border-bottom: 1px solid #2e2d2d;
    }

    .header__nav-item:last-child{
        border: none;
    }

    .footer__item{
        margin-bottom: 20px;
    }

    .footer{
        padding-bottom: 30px;
    }

    .form{
        margin-top: 58px;
    }
}

@media (max-width: 768px) {
    .header__logo{
        font-size: 33px;
    }

    .form{
        max-height: none;
        height: auto;
    }

    .form__form{
        border-radius: 0px;
        padding: 0px 15px;
    }

    .form__bottom-wrapper{
        border-radius: 0px;
    }

    .form__input_style{
        max-width: none;
    }

    .form__send{
        max-width: none;
    }

    .form__bottom-wrapper{
        padding: 0px;
        background: inherit;
    }

    .form__sign-wrapper .form__bottom-sign:first-child{
        width: 100%;
    }

    .form__sign-wrapper{
        padding-bottom: 80px;
    }

    .form__send{
        margin-bottom: 35px;
    }

    .footer__img{
        display: none;
    }

    .footer__list{
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer__item{
        width: 50%;
        margin-bottom: 30px;
        border:  none;
    }
    
    .footer{
        border-top: 1px solid #969191;
    }

    .footer__container{
        padding: 35px 15px 0px 15px;
    }

    .footer__link{
        padding: 0px 10px 0px 0px;
    }
}

@media (max-width: 320px) {

}